[submodule "cheapskate-terminal"]
	path = cheapskate-terminal
	url = git://github.com/yamadapc/cheapskate-terminal.git
[submodule "hpygments"]
	path = hpygments
	url = git://github.com/yamadapc/hpygments.git
[submodule "frontmatter"]
	path = frontmatter
	url = git://github.com/yamadapc/haskell-frontmatter.git
